$main-color: #48b2e4;
$gray-color: #cccccc;

h2.exam {
  color: $main-color;
}

p.description {
  color: $gray-color;
  font-size: 0.6em;
}

// Exam box
.exam-box {
  display: flex;
  
  .exam-info {
    flex: 1;
  }
  
  .exam-score {
    width: 4em;
    text-align: right;
    
    p {
      font-size: 2.5em;
      margin: auto;
      overflow: visible;
      vertical-align: middle;
      line-height: 1em;
    }
  }
}

.exam-button {
  text-align: center;
  height: 100%;

  .exam-action {
    display: inline-block;
    vertical-align: middle;
    
    &.exam-action-delete {
      color: #ffffff;
    }
    
    &.exam-action-edit {
      color: #333333;
    }
  }
}

.exam-button:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em; /* Adjusts for spacing */
}

/* Exams deletion */
.exam-item.ng-leave {
  transition: all linear 0.3s;
  opacity: 1;
  
  &.ng-leave-active {
    opacity: 0;
  }
}

