ion-tabs.tabs-positive.tabs-icon-top
  // Exams Tab
  ion-tab(title='Esami', icon-on='ion-ios7-person', icon-off='ion-ios7-person-outline', href='#/tab/exams')
    ion-nav-view(name='tab-exams')

  // Stats Tab
  ion-tab(title='Statistiche', icon-on='ion-ios7-pie', icon-off='ion-ios7-pie-outline', href='#/tab/stats')
    ion-nav-view(name='tab-stats')

  // Settings Tab
  ion-tab(title='Opzioni', icon-on='ion-ios7-gear', icon-off='ion-ios7-gear-outline', href='#/tab/settings')
    ion-nav-view(name='tab-settings')